html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
@font-face {
  font-family: 'Roboto';
  src: url('/styles/fonts/roboto.eot');
  /* IE9 Compat Modes */
  src: url('/styles/fonts/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/styles/fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */ url('/styles/fonts/roboto.woff') format('woff'), /* Pretty Modern Browsers */ url('/styles/fonts/roboto.ttf') format('truetype'), /* Safari, Android, iOS */ url('/styles/fonts/roboto.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Kufam';
  src: url('/styles/fonts/kufam.woff') format('woff'), /* Pretty Modern Browsers */ url('/styles/fonts/kufam.ttf') format('truetype');
  /* Safari, Android, iOS */
}
main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5.5rem);
  margin: 5.5rem 0 0 10rem;
  padding: 2rem 5rem 0;
  background-image: linear-gradient(#fffa, #fff6);
}
@media screen and (max-width: 980px) {
  main {
    min-height: calc(100vh - 4rem);
    margin: 4rem 0 0 3.5rem;
    padding: 3.5rem 1rem 0;
  }
}
@media screen and (max-width: 300px) {
  main {
    padding: 3.5rem 0.5rem 0;
    margin: 4rem 0 0 3rem;
  }
}
.page-container {
  flex: 1;
}
.page-wrapper {
  max-width: 50rem;
  margin: 0 auto;
}
.simple-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simple-page-container a {
  color: #aace86;
}
.simple-page-container .inner-flex-container {
  flex: 1;
  width: 100%;
}
.simple-page-container footer a {
  font-size: initial;
  max-width: unset;
}
.btn {
  display: block;
  min-width: 5rem;
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 0.9rem;
  background-color: #555;
  color: white;
  transition: background-color 0.2s 0.1s;
}
.btn:hover {
  background-color: #676767;
}
.btn.btn-green {
  background-color: #7a4;
  color: white;
}
.btn.btn-green:hover {
  background-color: #89bb56;
}
.btn.btn-blue {
  background-color: #47a;
  color: white;
}
.btn.btn-blue:hover {
  background-color: #5689bb;
}
.ReactModal__Overlay {
  background-color: #333a !important;
}
.ReactModal__Overlay .ReactModal__Content {
  border-radius: 1rem !important;
  border: none !important;
}
@media screen and (max-width: 980px) {
  .ReactModal__Overlay .ReactModal__Content {
    width: 90%;
  }
}
