html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Roboto';
  src: url('/styles/fonts/roboto.eot');
  /* IE9 Compat Modes */
  src: url('/styles/fonts/roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/styles/fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */ url('/styles/fonts/roboto.woff') format('woff'), /* Pretty Modern Browsers */ url('/styles/fonts/roboto.ttf') format('truetype'), /* Safari, Android, iOS */ url('/styles/fonts/roboto.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Kufam';
  src: url('/styles/fonts/kufam.woff') format('woff'), /* Pretty Modern Browsers */ url('/styles/fonts/kufam.ttf') format('truetype');
  /* Safari, Android, iOS */
}
.page-wrapper {
  max-width: 50rem;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  background-color: #456;
  background-image: linear-gradient(to left, #456, #586e85);
  border-bottom: solid 2px #303c47;
  box-shadow: 0 0.1rem 0.1rem #0005;
}
@media screen and (max-width: 980px) {
  header {
    height: 4rem;
  }
}
header .profile-picture {
  position: absolute;
  top: 1rem;
  left: 5rem;
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #456;
  background-image: linear-gradient(#456, #586e85);
  box-shadow: 0 0.1rem 0.1rem 0.1rem #0005;
}
@media screen and (max-width: 980px) {
  header .profile-picture {
    top: 0.5rem;
    left: 0.5rem;
    min-width: 6.75rem;
    min-height: 6.75rem;
  }
}
@media screen and (max-width: 300px) {
  header .profile-picture {
    left: 0.5rem;
    min-width: 6rem;
    min-height: 6rem;
  }
}
header .profile-picture img {
  width: calc(10rem - 1.5rem);
  height: calc(10rem - 1.5rem);
  border-radius: 50%;
}
@media screen and (max-width: 980px) {
  header .profile-picture img {
    width: calc(6.75rem - 0.7rem);
    height: calc(6.75rem - 0.7rem);
  }
}
@media screen and (max-width: 300px) {
  header .profile-picture img {
    width: calc(6rem - 0.7rem);
    height: calc(6rem - 0.7rem);
  }
}
header .profile-description {
  margin-left: calc(10rem * 1.5 + 1.5rem);
  width: calc(100% - calc(10rem * 1.5 + 1.5rem));
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-family: Kufam;
}
header .profile-description h1 {
  height: 2.5rem;
  margin: 0 0 0.2rem;
  border-bottom: solid 0.15rem;
  font-size: 2rem;
  font-weight: 600;
}
header .profile-description p {
  margin: 0 0 0 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #cef;
}
@media screen and (max-width: 980px) {
  header .profile-description {
    margin-left: calc(6.75rem + 0.75rem);
    width: calc(100% - calc(6.75rem + 0.75rem));
  }
  header .profile-description h1 {
    height: 1.65rem;
    font-size: 1.2rem;
  }
  header .profile-description p {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  header .profile-description p .extended {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  header .profile-description {
    margin-left: calc(6rem + 0.5rem);
    width: calc(100% - calc(6rem + 0.5rem));
  }
  header .profile-description h1 {
    height: 1.5rem;
    font-size: 1.1rem;
  }
  header .profile-description p {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}
.side-menu-container {
  position: fixed;
  top: 5.5rem;
  left: 0;
  z-index: 2;
  width: 10rem;
  height: 100%;
  text-align: right;
  background-color: #567;
}
@media screen and (max-width: 980px) {
  .side-menu-container {
    top: 4rem;
    width: 3.5rem;
  }
}
@media screen and (max-width: 300px) {
  .side-menu-container {
    width: 3rem;
  }
}
.side-menu-container.rotating-menu {
  left: -90rem;
  top: -100vh;
  width: 100rem;
  height: 400vh;
  background-color: #567;
  border-right: solid 2px #798c9f;
  box-shadow: 0 0.1rem 0.1rem 0.1rem #0003;
  -webkit-transform-origin-x: 100rem;
  -webkit-transform-origin-y: calc(100vh + 5.5rem);
}
@media screen and (max-width: 980px) {
  .side-menu-container.rotating-menu {
    left: -96.5rem;
  }
}
@media screen and (max-width: 300px) {
  .side-menu-container.rotating-menu {
    left: -97rem;
  }
}
@media screen and (max-width: 980px) {
  .side-menu-container.rotating-menu {
    -webkit-transform-origin-y: calc(100vh + 4rem);
  }
}
.side-menu-container.opening {
  animation-name: rotate-menu-open;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: rotate(-90deg);
}
.side-menu-container.closing {
  animation-name: rotate-menu-close;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
}
.side-menu-container nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: calc(6rem + 5.5rem + 100vh);
}
@media screen and (max-width: 980px) {
  .side-menu-container nav {
    margin-top: calc(4.5rem + 4rem + 100vh);
  }
}
@media screen and (max-width: 300px) {
  .side-menu-container nav {
    margin-top: calc(3.5rem + 4rem + 100vh);
  }
}
.side-menu-container nav a {
  display: block;
  cursor: pointer;
  user-select: none;
  margin: 0.5rem 0 0.5rem;
  padding: 0.6rem 0.5rem 0.1rem 0;
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: Kufam;
  background-color: #5d7083;
  background-image: linear-gradient(#5d7083, #567);
  color: #cef;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 0.8rem;
  border-right: solid 2px #798c9f;
  box-shadow: 0 0.05rem 0.05rem 0.05rem #0005;
  transition: all 0.3s 0.05s;
}
@media screen and (max-width: 980px) {
  .side-menu-container nav a {
    width: 3rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 300px) {
  .side-menu-container nav a {
    width: 2.5rem;
    padding-right: 0.2rem;
  }
}
.side-menu-container nav a:hover {
  margin: 0.45rem 0 0.55rem;
  padding-right: 0.55rem;
  background-color: #607386;
  background-image: linear-gradient(#607386, #567);
  color: white;
  border-right: solid 2px #708599;
  box-shadow: 0 0.1rem 0.1rem 0.1rem #0003;
}
@media screen and (max-width: 300px) {
  .side-menu-container nav a:hover {
    padding-right: 0.25rem;
  }
}
.side-menu-container nav a svg {
  display: none;
  min-width: 1.5rem;
  min-height: 1.5rem;
}
@media screen and (max-width: 980px) {
  .side-menu-container nav a span {
    display: none;
  }
  .side-menu-container nav a svg {
    display: block;
  }
}
@keyframes rotate-menu-open {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes rotate-menu-close {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-90deg);
  }
}
.random-background {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: -1000;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
main {
  min-height: calc(100vh - 5.5rem);
  margin: 5.5rem 0 0 10rem;
  padding: 2rem 5rem 0;
  background: linear-gradient(#fffa, #fff6);
}
@media screen and (max-width: 980px) {
  main {
    min-height: calc(100vh - 4rem);
    margin: 4rem 0 0 3.5rem;
    padding: 3.5rem 1rem 0;
  }
}
@media screen and (max-width: 300px) {
  main {
    padding: 3.5rem 0.5rem 0;
    margin: 4rem 0 0 3rem;
  }
}
footer {
  width: 100%;
  padding: 0.7rem 0.5rem 0.5rem;
  border-top: solid 0.1rem rgba(136, 136, 136, 0.3);
  text-align: center;
  font-weight: bold;
  color: #888;
}
footer a {
  display: block;
  color: #47a;
  font-size: 0.85rem;
  font-weight: 500;
}
.contact-me-box {
  position: fixed;
  top: 6.5rem;
  right: 1rem;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border-top-right-radius: 2em;
  box-shadow: 0 0.1rem 0.1rem 0.1rem #0005;
  transition-property: 'width height';
  transition-duration: 0.5s;
  background-color: rgba(119, 170, 68, 0.85);
}
@media screen and (max-width: 980px) {
  .contact-me-box {
    top: 4.5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (max-width: 980px) {
  .contact-me-box {
    border-top-right-radius: 1.5em;
  }
}
.contact-me-box.expanded {
  width: 12rem;
  height: 12rem;
}
.contact-me-box .trigger-btn {
  position: absolute;
  top: 0;
  right: 0;
  min-width: unset;
  width: 4rem;
  height: 4rem;
  background-color: transparent !important;
  border-radius: inherit;
  cursor: pointer !important;
  z-index: 1;
}
@media screen and (max-width: 980px) {
  .contact-me-box .trigger-btn {
    top: -0.5rem;
    right: -0.5rem;
  }
}
.contact-me-box .trigger-btn svg {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.contact-me-box .trigger-btn.bouncing {
  animation-name: bubble-bounce;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.contact-me-box .trigger-btn.bouncing svg {
  opacity: 1;
}
.contact-me-box .link-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-property: "width height opacity";
  transition-duration: 0.2s;
}
.contact-me-box .link-icons.displayed {
  opacity: 1;
}
.contact-me-box .link-icons.displayed svg {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 980px) {
  .contact-me-box .link-icons.displayed svg {
    width: 2rem;
    height: 2rem;
  }
}
.contact-me-box .link-icons a {
  position: absolute;
  display: block;
}
.contact-me-box .link-icons svg {
  width: 0.5rem;
  height: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.3s, 0.1s;
}
.contact-me-box .link-icons svg:hover {
  color: white;
}
@keyframes bubble-bounce {
  0% {
    transform: translate(0, 0.2rem) scale(1.05, 0.85);
  }
  50% {
    transform: translate(0, 0.2rem) scale(1.05, 0.85);
  }
  60% {
    transform: translate(0, -0.3rem) scale(1, 1);
  }
  75% {
    transform: translate(0, -0.3rem) rotate(10deg);
  }
  85% {
    transform: translate(0, -0.3rem) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0.2rem) scale(1.05, 0.85);
  }
}
.home-page strong {
  color: #333;
}
.home-page .up-right-arrow svg {
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  color: #7a4;
}
.home-page a {
  font-weight: bold;
  color: #47a;
}
.home-page h2 {
  margin: 2rem 0 0.5rem;
  text-align: center;
  font-family: Kufam;
  color: #446;
  font-size: 1.75rem;
}
@media screen and (max-width: 980px) {
  .home-page h2 {
    margin: 1.5rem 0 0.5rem;
    font-size: 1.5rem;
  }
}
.home-page #work-links a {
  display: block;
  margin: 0.2rem 0;
}
.home-page .skills-desc {
  text-align: center;
}
.home-page .skill-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40rem;
  margin: 0 auto;
}
.home-page .skill-box .skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 5rem;
}
.home-page .skill-box .skill-item img,
.home-page .skill-box .skill-item svg {
  width: 2rem;
  height: 2rem;
  color: #333;
  fill: #333;
}
.home-page .skill-box .skill-item label {
  display: block;
  margin-top: 0.2rem;
  font-weight: 500;
}
.home-page #news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.home-page #news .news-desc {
  text-align: center;
}
.home-page #news .see-more-btn {
  max-width: 11rem;
}
.projects-page h2 {
  text-align: center;
  font-family: Kufam;
  color: #446;
  font-size: 1.75rem;
}
@media screen and (max-width: 980px) {
  .projects-page h2 {
    margin: 1.5rem 0 0.5rem;
    font-size: 1.5rem;
  }
}
.project-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.preview-box {
  width: 15rem;
  height: 15rem;
  margin: 1rem 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.1rem 0.1rem #0005;
}
@media screen and (max-width: 300px) {
  .preview-box {
    width: 13rem;
    margin: 0 0 1.5rem;
  }
}
.preview-box.hovered .top .second-img {
  opacity: 1;
}
.preview-box .top {
  display: flex;
  position: relative;
  height: 45%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: grey;
}
.preview-box .top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.preview-box .top img.second-img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s 0s;
}
.preview-box .bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 55%;
  padding: 0.8rem 1.5rem 2.5rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #eed;
}
.preview-box .bottom h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #446;
  transition: color 0.5s 0.2s;
}
.preview-box .bottom p {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  color: #777;
  transition: color 0.5s 0.2s;
}
.preview-box .bottom a,
.preview-box .bottom button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.6rem;
  align-self: flex-end;
}
.btn {
  display: block;
  min-width: 5rem;
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 0.9rem;
  background-color: #555;
  color: white;
  transition: background-color 0.2s 0.1s;
}
.btn:hover {
  background-color: #676767;
}
.btn.btn-green {
  background-color: #7a4;
  color: white;
}
.btn.btn-green:hover {
  background-color: #89bb56;
}
.btn.btn-blue {
  background-color: #47a;
  color: white;
}
.btn.btn-blue:hover {
  background-color: #5689bb;
}
.ReactModal__Overlay {
  background-color: #333a !important;
}
.ReactModal__Overlay .ReactModal__Content {
  border-radius: 1rem !important;
  border: none !important;
}
@media screen and (max-width: 980px) {
  .ReactModal__Overlay .ReactModal__Content {
    width: 90%;
  }
}
.feedback-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3rem 0.5rem;
}
@media screen and (max-width: 980px) {
  .feedback-modal-content {
    padding: 1.5rem 1rem 0.5rem;
  }
}
@media screen and (max-width: 300px) {
  .feedback-modal-content {
    padding: 0.2rem;
  }
}
@media screen and (max-width: 300px) {
  .feedback-modal-content.long {
    display: none;
  }
}
.feedback-modal-content.short {
  display: none;
}
@media screen and (max-width: 300px) {
  .feedback-modal-content.short {
    display: flex;
  }
}
.feedback-modal-content h2 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.75rem;
  color: #446;
}
@media screen and (max-width: 300px) {
  .feedback-modal-content h2 {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }
}
.feedback-modal-content p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 300px) {
  .feedback-modal-content p {
    text-align: center;
  }
}
.feedback-modal-content a {
  display: block;
  margin: 0.5rem 0 2rem;
  font-size: 1.5rem;
  color: #47a;
}
@media screen and (max-width: 980px) {
  .feedback-modal-content a {
    font-size: 1.25rem;
  }
}
.error-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  background-image: linear-gradient(to right, #333, #4d4d4d);
}
.error-page-container .error-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  flex: 1;
  padding-bottom: 2rem;
}
.error-page-container .error-box h1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 4.5rem;
  margin: 0;
  padding-right: 2rem;
  border-right: solid 0.2rem #c8c8c8;
  font-size: 3.5rem;
  color: #c8c8c8;
}
.error-page-container .error-box span {
  display: flex;
  align-items: center;
  flex: 1.1;
  height: 4.5rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  color: #eeeeee;
}
@media screen and (max-width: 980px) {
  .error-page-container .error-box {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .error-page-container .error-box h1 {
    width: 15rem;
    flex: unset;
    padding: 0;
    border-right: none;
    border-bottom: solid 0.2rem #c8c8c8;
    justify-content: center;
  }
  .error-page-container .error-box span {
    width: 15rem;
    flex: unset;
    padding: 0;
    justify-content: center;
  }
}
.error-page-container a {
  flex: 1;
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
  color: #aace86;
}
@media screen and (max-width: 980px) {
  .error-page-container a {
    max-width: 80%;
    font-size: 1.1rem;
  }
}
.error-page-container footer a {
  font-size: initial;
  color: #aace86;
  max-width: unset;
}
